@font-face {
    font-family: 'HandsetSansKufi';
    src: url('HandsetSansKufiArabic.woff2') format('woff2'),
        url('HandsetSansKufiArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
